.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;  
    padding: 20px;
  }
  
  
  .search {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  