:root {
  --card-bg: #fff;
  --text-color: #333;
  --secondary-color: #666;
  --button-bg: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --card-bg: #1e1e2f;
  --text-color: #f5f5f5;
  --secondary-color: #bbb;
  --button-bg: #4a90e2;
  --shadow-color: rgba(243, 242, 242, 0.1);
  background-color: #121212;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  color: #121212;
}

.app {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  background: var(--card-bg);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  padding: 10px 20px;
}

.toggle {
  background: var(--button-bg);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
.toggle:hover {
  box-shadow: 0 4px 12px rgba(243, 242, 242, 0.1);  
  background: #2f68a5;
  box-shadow: 0 4px 12px var(--shadow-color);  

  transition: background-color 0.3s, color 0.3s;
}
.themeToggle {
  display: flex;
  justify-content: end;
}
